<div class="nav">
  <nav class="container">
    <a class="logo link" href=".">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle
            cx="12"
            cy="12"
            r="10"
            stroke="black"
            stroke-width="2"
          />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle
            cx="12"
            cy="12"
            r="10"
            stroke="black"
            stroke-width="2"
          />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle
            cx="12"
            cy="12"
            r="10"
            stroke="black"
            stroke-width="2"
          />
        </svg>
      </div>
      <header class="header">EduAI</header>
    </a>

    <div style="flex: 1;"></div>

    <a class="link" (click)="login()" *ngIf="!isAuthenticated && currentRoute && currentRoute != '/auth/login'">Login</a>
    <a class="link" (click)="register()" *ngIf="!isAuthenticated && currentRoute && currentRoute != '/auth/register'">Register</a>
    <a class="link" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
  </nav>
</div>
