:host {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.container {
  flex-basis: content;
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;

  > * {
    width: max-content;
    min-width: 100px;
  }
}


.input {
  width: 100% !important;
}