<div class="container">
  <button class="btn">Action Button</button>
  <button class="btn" disabled>Action Button 2</button>
  
  <button class="btn btn--secondary">Action Button</button>
  <button class="btn btn--secondary" disabled>Action Button 2</button>

  <input type="text" class="input" placeholder="Sample">
  <input type="text" class="input" placeholder="Sample" disabled>

  <label class="check">
    <input type="checkbox">
    <span>Random Checkbox 1</span>
  </label>

  <label class="check">
    <input type="checkbox" disabled>
    <span>Random Checkbox 2</span>
  </label>

  <label class="check">
    <input type="checkbox">
    <span>Random Checkbox 1</span>
  </label>
  <label class="check">
    <input type="checkbox">
    <span>Random Checkbox 1</span>
  </label>
  <label class="radio">
    <input type="radio" name="sample">
    <span>Random Radio 1</span>
  </label>
  <label class="radio">
    <input type="Radio" name="sample">
    <span>Random Radio 1</span>
  </label>
  <label class="radio">
    <input type="Radio" name="sample">
    <span>Random Radio 1</span>
  </label>
  <textarea class="input"></textarea>

</div>

